.Nav {
  display: flex;
  height: 70px;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: .2s;
    &:hover {
      color: #78cf9f;
    }
  }
}
