.Products {
  background-color: white;
  min-height: 80%;
  padding-bottom: 50px;
}

.CardCtn {
  padding: 0 35px;
}

.CategoryHeader {
  padding: 5px 0;
  margin-bottom: 12px;
  border-bottom: 2px solid #d1d1d1;
}
